<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="false" bootstrap="Tests/bootstrap.php">
	<testsuites>
		<testsuite name="nothot">
			<directory>Tests</directory>
		</testsuite>
	</testsuites>
	<php>
		<includePath>./Tests</includePath>
		<includePath>./Library</includePath>
	</php>
</phpunit>
